<!DOCTYPE html>
<html>
  <head>
    <title>CRUD NODEJS E MYSQL</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>CRUD NODEJS E MYSQL</h1>
    <p>Para rodar use as rotas pelo INSOMNIA ou POSTMAN.</p>
  </body>
</html>
